.news{
    background-color:antiquewhite;
    color:black;
    height:100vh;
    background-image:url("images/\(1\).png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    border: 3px solid#ebe8e8;
}
.news p{
    border:2px solid#ebe8e8;
}
header{
    background-color:lightsalmon; 
    display:flex;
    flex-direction:column;
    align-items:center; 
}
.music{
    border:1px solid#300e0e;   
    padding:50px;
    width:300px;
    height:400px; 
    font-size: 24px;
    border-radius: 10px;
                                        

}
.bleach{
    border:1px solid#300e0e;   
    padding:50px;
    width:300px;
    height:400px; 
    font-size: 24px;
    border-radius: 10px;
    position:absolute;
    left:500px;
    top:380px;

}








